{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper desktop-only">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">bash</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>root</span><span class="at">@</span><span
                                class="path">/home/ASriv98/</span>><span class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"></input></form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">Atul</p>
            <p class="text-title desktop-view">Srivastava</p>
            <p class="text-title mobile-view">Atul Srivastava</p>
            <div>
                <a target="_blank" href="https://github.com/ASriv98">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/ASriv98/">
                    <img class="title-logo" src="static/images/Linkedin.svg">
                </a>
                <a target="_blank" href="https://www.youtube.com/channel/UCQLn20npsBkAHjiGnPOfv9Q">
                    <img class="title-logo" src="static/images/YouTube.svg">
                </a>
                <a target="_blank" href="https://www.instagram.com/ASriv98/">
                    <img class="title-logo" src="static/images/Instagram.svg">
                </a>
                <a target="_blank" href="https://www.twitter.com/ASriv98/">
                    <img class="title-logo" src="static/images/Twitter.svg">
                </a>
                <a target="_blank" href="https://drive.google.com/file/d/1IXB6MEYxdcwMsKcBJ7A6i1zshqU5kBml/view?usp=sharing">
                    <img class="title-logo" src="static/images/education.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">
            <p class="text-content">I never really knew what I wanted to do with my life, and I still don't really know what to do, so my only logical solution is to keep doing something that makes me learn and question. Engineering and computer science has been a good place for me to explore my mind.  </p>
	    <p class="text-content">
		I work at <a href="https://www.scitec.com/">SciTec Inc.</a> on instrumentation control technology. Our devices provide the ability to read and deploy light waves of different characteristics across the visible light spectrum.</p>

            <p class="text-content">I studied Computer Engineering at <a href="https://www.ece.rutgers.edu/">Rutgers University</a>.</p>

            <p class="text-content">You can learn more about me here, <a href="http://in.linkedin.com/in/ASriv98/">LinkedIn</a>,
                or email me <a href="mailto:atulsriv3@gmail.com?Subject=Hello%20Rish%20-from-website" target="_top">here</a>.
            </p>

            <br>
        </div>
    </div>
</div>
{% endblock %}
